@media (min-width: 1200px) {
    .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: 0.75rem;
        padding-left: 0.75rem;
    }

	.btn-menu {
		margin: 0 0 0 0.75rem;
	}
}

@media (max-width: 700px) {
	.hex-row, .hex-row.offset {
		flex-wrap: wrap;
		justify-content: center;
		margin-left: 0;
		margin-top: 0;
	}
}

@media (max-width: 767px) { 

	header .container {
		padding: 0px 12px;
	}

	.logo {
		width: 75px;
	}

	.hex {
		width: 165px;
	}

	.slider .swiper-button-next:after, .slider .swiper-button-prev:after {
		font-size: 12px;
	}

	.slider .swiper-button-next, .swiper-rtl .swiper-button-prev {
		right: 10px;
		left: auto;
		color: var(--black);
		font-weight: bold;
		top: 18%;
	}

	.slider .swiper-button-prev, .swiper-rtl .swiper-button-next {
		left: 10px;
		right: auto;
		color: var(--black);
		top: 18%;
		font-weight: bold;
	}

	.spotlights-header .nav {
		margin-left: 0px;
		margin-top: 15px;
	}

	.swiper-nav {
		margin-top: 15px;
	}

}

@media (max-width: 991px) {
	.border-bottom-green {
		border-bottom: 1px solid var(--green);
		padding-bottom: 30px;
	}

	.border-right-green {
		border-right: 1px solid transparent;
		padding-right: 0px;
	}

	.border-top-green {
		padding-top: 30px;
	}

	.border-left-green {
		padding-left: 0px;
	}

	.search {
		width: 100%;
		margin-top: 20px;
	}

	.filter {
		width: 100%;
	}
}

@media (min-width: 992px) {

	.news-left-content, .spotlights-left-content {
		width: 65%;
	}

	.news-right-content, .spotlights-right-content {
		width: 35%;
	}

	.border-right {
		border-right: 1px solid var(--black);
	}
}

@media (max-width: 575px) {
	header .navbar {
		padding: 15px 0px;
	}

	.swiper-slide {
		height: 55vh;
	}

	.banner-slider .slider-content {
		bottom: 16px;
		padding: 30px 0px 60px;
	}

	.banner-slider .slider-content p {
		width: 100%;
	}

	.banner-slider .swiper-controls {
		right: 21%;
		bottom: 20px;
	}
}

@media (min-width: 576px) and (max-width: 767px) {
	header .navbar {
		padding: 15px 0px;
	}

	.swiper-slide {
		height: 47vh;
	}

	.banner-slider .slider-content {
		bottom: 16px;
		padding: 30px 0px 60px;
	}

	.banner-slider .slider-content p {
		width: 100%;
	}

	.banner-slider .swiper-controls {
		right: 30%;
		bottom: 20px;
	}
}

@media (min-width: 768px) and (max-width: 991px) { 

	header .container {
		padding: 0px 12px;
	}

	.logo {
		width: 85px;
	}

	.swiper-slide {
		height: 43.5vh;
	}

	.banner-slider .slider-content {
		bottom: 16px;
		padding: 30px 0px 60px;
	}

	.banner-slider .slider-content p {
		width: 100%;
	}

	.banner-slider .swiper-controls {
		right: 35%;
		bottom: 20px;
	}

	.hex {
		width: 165px;
	}

	.spotlights-header .nav {
		margin-left: 0px;
		margin-top: 15px;
	}

	.swiper-nav {
		margin-top: 15px;
	}

	.slider .swiper-button-next:after, .slider .swiper-button-prev:after {
		font-size: 18px;
	}

	.slider .swiper-button-next, .swiper-rtl .swiper-button-prev {
		right: 10px;
		left: auto;
		color: var(--black);
		font-weight: bold;
		top: 27%;
	}

	.slider .swiper-button-prev, .swiper-rtl .swiper-button-next {
		left: 10px;
		right: auto;
		color: var(--black);
		top: 27%;
		font-weight: bold;
	}

} 

@media (min-width: 992px) and (max-width: 1199px) { 

	header .container {
		padding: 0px 12px;
	}

	.logo {
		width: 100px;
	}

	.swiper-slide {
		height: 51.5vh;
	}

	.banner-slider .slider-content {
		bottom: 50px;
		padding: 30px 0px 60px;
	}

	.banner-slider .slider-content p {
		width: 100%;
	}

	.banner-slider .swiper-controls {
		right: 5%;
		bottom: 70px;
	}

	.hex {
		width: 165px;
	}

	.spotlights-header .nav {
		margin-left: 0px;
		margin-top: 15px;
	}

	.swiper-nav {
		margin-top: 15px;
	}

	.slider .swiper-button-next:after, .slider .swiper-button-prev:after {
		font-size: 24px;
	}

	.slider .swiper-button-next, .swiper-rtl .swiper-button-prev {
		right: 10px;
		left: auto;
		color: var(--black);
		font-weight: bold;
		top: 32%;
	}

	.slider .swiper-button-prev, .swiper-rtl .swiper-button-next {
		left: 10px;
		right: auto;
		color: var(--black);
		top: 32%;
		font-weight: bold;
	}

} 

@media (min-width: 1200px) and (max-width: 1399px) { 

	header .container {
		padding: 0px;
	}

	.logo {
		width: 105px;
	}

	.swiper-slide {
		height: 51.5vh;
	}

	.banner-slider .slider-content {
		bottom: 16px;
		padding: 30px 0px 60px;
	}

	.banner-slider .slider-content p {
		width: 100%;
	}

	.banner-slider .swiper-controls {
		right: 5%;
		bottom: 30px;
	}

	.hex {
		width: 165px;
	}

	.spotlights-header .nav {
		margin-left: 0px;
		margin-top: 15px;
	}

	.swiper-nav {
		margin-top: 15px;
	}

	.slider .swiper-button-next:after, .slider .swiper-button-prev:after {
		font-size: 24px;
	}

	.slider .swiper-button-next, .swiper-rtl .swiper-button-prev {
		right: 10px;
		left: auto;
		color: var(--black);
		font-weight: bold;
		top: 32%;
	}

	.slider .swiper-button-prev, .swiper-rtl .swiper-button-next {
		left: 10px;
		right: auto;
		color: var(--black);
		top: 32%;
		font-weight: bold;
	}

} 

@media (min-width: 1400px) and (max-width: 1599px) { 

	.swiper-slide {
		height: 70vh;
	}

	.banner-slider .slider-content {
		bottom: 16px;
		padding: 30px 0px 60px;
	}

	.banner-slider .slider-content p {
		width: 100%;
	}

	.banner-slider .swiper-controls {
		right: 5%;
		bottom: 30px;
	}

	.slider .swiper-button-next:after, .slider .swiper-button-prev:after {
		font-size: 32px;
	}

	.slider .swiper-button-next, .swiper-rtl .swiper-button-prev {
		font-weight: bold;
		top: 40%;
	}

	.slider .swiper-button-prev, .swiper-rtl .swiper-button-next {
		top: 40%;
		font-weight: bold;
	}

	.slider .slider-content p {
		max-width: 70%;
	}

}

@media (min-width: 1600px) and (max-width: 1919px) { 

	.swiper-slide {
		height: 80vh;
	}

	.banner-slider .slider-content {
		bottom: 16px;
		padding: 30px 0px 60px;
	}

	.banner-slider .slider-content p {
		width: 100%;
	}

	.banner-slider .swiper-controls {
		right: 5%;
		bottom: 30px;
	}

	.slider .swiper-button-next:after, .slider .swiper-button-prev:after {
		font-size: 32px;
	}

	.slider .swiper-button-next, .swiper-rtl .swiper-button-prev {
		font-weight: bold;
		top: 40%;
	}

	.slider .swiper-button-prev, .swiper-rtl .swiper-button-next {
		top: 40%;
		font-weight: bold;
	}

	.slider .slider-content p {
		max-width: 70%;
	}

}

@media (max-width: 1199px) {
	.navbar .navbar-collapse {
		background: #f8f8f8;
		position: absolute;
		width: 100%;
		top: 50px;
		z-index: 500;
	}

	.navbar .navbar-collapse .navbar-nav .nav-item {
		padding: 25px;
	}
}

@media (min-width: 1200px) {
    ul.dropdown-menu {
		border-radius: 0px;
		border: 1px solid transparent;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		margin-left: 10px;
	}

	.navbar-expand-xl .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media (min-width: 1400px) { 
	header .container {
		padding: 0px;
	}

	.slider .swiper-button-next:after, .slider .swiper-button-prev:after {
		font-size: 32px;
	}

	.slider .swiper-button-next, .swiper-rtl .swiper-button-prev {
		font-weight: bold;
		top: 40%;
	}

	.slider .swiper-button-prev, .swiper-rtl .swiper-button-next {
		top: 40%;
		font-weight: bold;
	}

	.slider .slider-content p {
		max-width: 70%;
	}

	.bottom-nav .dropdown-toggle::after {
		display: none;
	}

}