@media (min-width: 1200px) {
    .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: 0.75rem;
        padding-left: 0.75rem;
    }
}

@media (max-width: 700px) {
	.hex-row, .hex-row.offset {
		flex-wrap: wrap;
		justify-content: center;
		margin-left: 0;
		margin-top: 0;
	}
}