:root {
    --green: #4E9E71;
    --black: #000000;
    --white: #ffffff;
    --silver: #8C9091;
    --mandarine: #FF6B00;
    --strawberry-red: #C31C4A;
    --light-green: #EDF5F1;
    --viola: #773DBD;
    --teal: #007580;
    --gray: #8E9093;
    --bg1: #F1F2F2;
    --bg2: #EBECEC;
    --bg3: #B7B7B7;
    --bg4: #EFEFEF;
    --bg5: #D9D9D9;
    --font-family: "Gotham";
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
}

a {
    color: var(--green);
    text-decoration: none; 
}

.section {
    margin-top: 100px;
}

.section:last-child {
    margin-bottom: 100px;
}

h1, h2, h3, h4, h5, p {
    margin-bottom: 20px;
}

.link {
    color: var(--green);
    text-decoration: none;
    font-weight: bold;
}

.quote .container {
    background-color: var(--light-green);
    padding: 50px;
}

.breadcrumb-wrapper {
    background-color: var(--bg4);
    padding: 25px 0px;
}

.breadcrumb-separator {
    padding: 0px 7.5px;
    font-weight: 400;
}

.breadcrumb-item {
    font-weight: 400;
}

.banner-slider {
    position: relative;
}

.banner-slider img {
    position: relative;
}

.banner-slider .swiper-controls {
    position: absolute;
    bottom: 30px;
    right: 300px;
    display: flex;
    gap: 10px;
    z-index: 10;
}

.banner-slider .swiper-button-next, .banner-slider .swiper-button-prev {
    position: static;
    color: #ccc;
}

.banner-slider .swiper-button-next:after, .banner-slider .swiper-button-prev:after {
    font-size: 24px;
}

.banner-slider .swiper-pagination {
    position: static;
    display: flex;
    gap: 5px;
    width: auto;
}

.banner-slider  .slider-content {
    background-color: var(--bg1);
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 30px 0px;
}

.banner-slider  .slider-content p {
    width: 75%;
}

.swiper-pagination-bullet {
    border-radius: 0px;
    width: 20px;
    height: 3px;
}

.swiper-pagination-bullet-active {
    background-color: var(--green);
}

.slide {
    position: relative;
}

.slide img {
    position: relative;
}

.slide .slide-content {
    background-color: var(--bg1);
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 40px 0px;
}

.accordion .panel {
    border: none;
    border-radius: 5px;
    box-shadow: none;
    margin-bottom: 10px;
    background: transparent;
}

.accordion .panel-heading {
    padding: 0;
    border: none;
    border-radius: 5px;
    background: transparent;
    position: relative;
}

.accordion .accordion-button {
    display: block;
    padding: 20px 30px;
    margin: 0;
    background: var(--white);
    font-size: 16px;
    font-weight: bold;
    color: var(--black);
    border: 1px solid #495057;
    border-radius: 5px;
    position: relative;
}

.accordion .accordion-button:not(.collapsed) {
    color: var(--white);
    background-color: var(--green);
    border-radius: 10px 10px 0px 0px;
}

.accordion .panel-title a:before,
.accordion .panel-title a.collapsed:before {
    content: "\f139";
    font-family: "Font Awesome 6 Pro";
    width: 30px;
    height: 30px;
    line-height: 27px;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    color: var(--white);
    position: absolute;
    top: 15px;
    right: 30px;
    transform: rotate(0deg);
    transition: all .4s cubic-bezier(0.080, 1.090, 0.320, 1.275);
}

.accordion .panel-title a.collapsed:before {
    color: var(--black);
    transform: rotate(180deg);
}

.accordion .panel-body {
    padding: 20px 30px;
    background: var(--white);
    font-size: 16px;
    color: var(--black);
    border-bottom: 1px solid #495057;
    border-left: 1px solid #495057;
    border-right: 1px solid #495057;
    border-radius: 0px 0px 10px 10px;
}

.accordion .show .panel-body {
    border-radius: 0px 0px 10px 10px;
}

.accordion .panel-title {
    margin-bottom: 0px;
}

.btn-green {
    background-color: var(--green);
    color: var(--white);
}

.btn-green:hover {
    background-color: var(--white);
    color: var(--green);
    border: 1px solid var(--green);
}

.spotlights .card {
    border-radius: 10px;
    border: 1px solid transparent;
}

.spotlights .card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.spotlights .card-body {
    padding: 20px 40px;
}

.accordion .card {
    border: 1px solid transparent;
}

/* Start Header */

header .container {
    padding: 0px;
}

.navbar {
    padding: 30px 0px;
}

.logo {
    width: 110px;
}

.offcanvas-body .nav-item .nav-link {
    color: var(--black);
    font-weight: 500;
    font-size: 16px;
}

.offcanvas-body .nav-item .nav-link.active {
    color: var(--green);
}

.fa-magnifying-glass {
    color: var(--green);
}

.btn-menu {
    border: 2px solid var(--green);
    border-radius: 15px;
    text-transform: uppercase;
    color: var(--green);
    margin: 0 0.75rem;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

header .dropdown-item:focus, header .dropdown-item:hover {
    color: var(--green)
}

header .dropdown-item {
    padding: 1rem;
}

header .dropdown-item.active, header .dropdown-item:active {
    background-color: var(--green);
    color: var(--white);
}

/* End Header */

/* Start Home */

.slider .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 70px;
    left: auto;
    color: var(--white);
}

.slider .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 70px;
    right: auto;
    color: var(--white);
}

.slider .swiper-pagination {
    position: relative;
    margin-top: 25px;
}

.slider .slider-content {
    background-color: var(--bg1);
    padding: 30px 0px;
}

.swiper-pagination-bullet {
    border-radius: 0px;
    width: 40px;
    height: 3px;
}

.swiper-pagination-bullet-active {
    background-color: var(--green);
}

p.green {
    color: var(--green);
}

.hex-grid {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.hex-row {
	display: flex;
	gap: 20px;
}

.hex-row.offset {
	margin-top: -40px;
	margin-left: 0px;

}

.hex {
	position: relative;
	width: 185px;
	aspect-ratio: 1.0;
	background-color: var(--hex-color);
	clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	cursor: pointer;
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.hex1 {
    background-color: var(--teal);
}

.hex2 {
    background-color: var(--strawberry-red);
}

.hex3 {
    background-color: var(--mandarine);
}

.hex4 {
    background-color: var(--viola);
}

.hex5 {
    background-color: var(--green);
}

.hex6 {
    background-color: var(--silver);
}

.hex7 {
    background-color: var(--teal);
}

.hex-content {
	text-align: center;
	padding: 10px;
}

.hex-content a {
    text-decoration: none;
}

.icon {
	margin-bottom: 8px;
}

.label {
	font-weight: 900;
	font-size: 12px;
	text-transform: uppercase;
    color: var(--white);
}

.spotlights {
    background-color: var(--bg2);
    padding: 50px 0px;
    margin-bottom: 0px !important;
}

.spotlights-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.spotlights-link {
    color: var(--green);
    font-weight: bold;
    margin-bottom: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.spotlights-content {
    margin-bottom: 15px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.spotlights-read-more {
    color: var(--green);
    font-weight: bold;
    margin-bottom: 0px;
    text-decoration: none;
}

.spotlights-swiper .card {
    border: 1px solid transparent;
    border-radius: 10px;
}

.spotlights-swiper .card-body {
    padding: 20px 40px;
}

.spotlights-swiper img {
    border-radius: 10px 10px 0px 0px;
}

.spotlights-header .nav {
    margin-left: 40px;
}

.spotlights .swiper-button-next, .spotlights .swiper-button-prev {
    position: relative;
    width: 20px;
    height: 20px;
    color: var(--green);
    margin-top: 0px;
    font-weight: bold;
}

.spotlights .swiper-button-next:after, .spotlights .swiper-button-prev:after {
    font-size: 20px;
}

.spotlights .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: -25px;
    left: auto;
}

.spotlights .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: -30px;
    right: auto;
}

.spotlights .nav-pills .nav-item {
    margin: 0px 20px;
}

.spotlights .nav-pills .nav-link {
    color: var(--gray);
    font-size: 24px;
    font-weight: 500;
    padding: 0px;
}

.spotlights .nav-pills .nav-link.active {
    background-color: transparent;
    color: var(--black);
    border-bottom: 1px solid var(--black);
    display: inline-block;
    border-radius: 0px;
}

.view-link {
    border: 2px solid var(--green);
    border-radius: 15px;
    text-transform: uppercase;
    color: var(--green);
    text-decoration: none;
    padding: 12px 15px;
    margin-top: 40px;
}

/* End Home */

/* Start About Us */

.circle {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%;
    padding: 50px;
    text-align: center;
    align-content: center;
}

.circle i {
    font-size: 40px;
    color: var(--white);
}

.circle-about-us {
    background-color: var(--viola);
}

.circle-our-programme {
    background-color: var(--silver);
}

.circle-our-community {
    background-color: var(--mandarine);
}

.circle-admission {
    background-color: var(--strawberry-red);
}

.circle-work-with-us {
    background-color: var(--teal);
}

.circle-donate {
    background-color: var(--viola);
}

.find-more h5 {
    color: var(--black);
}

/* End About Us */

/* Start Quick Facts */

.quick-facts-1 h3, .quick-facts-1 h5 {
    color: var(--strawberry-red);
    margin-bottom: 10px;
}

.quick-facts-2 h3, .quick-facts-2 h5 {
    color: var(--mandarine);
    margin-bottom: 10px;
}

.quick-facts-3 h3, .quick-facts-3 h5 {
    color: var(--viola);
    margin-bottom: 10px;
}

.quick-facts-4 h3, .quick-facts-4 h5 {
    color: var(--teal);
    margin-bottom: 10px;
}

.quick-facts-1 a, .quick-facts-2 a, .quick-facts-3 a, .quick-facts-4 a {
    color: var(--black);
    font-weight: bold;
}

.border-green {
    border-right: 5px solid var(--green);
}

/* End Quick Facts */

/* Start Contact Us */

.contact-us .card {
    border: 1px solid var(--white);
    box-shadow: 0 0 60px 30px #00000008;
    border-radius: 10px;
}

.contact-us .card-body {
    padding: 30px 50px;
}

.contact-us .contact-left {
    background-color: var(--green);
    padding: 40px;
    border-radius: 10px;
}

.contact-left h2 {
    margin-bottom: 40px;
}

.contact-left p {
    margin-bottom: 40px;
}

.contact-left .location {
    display: inline-flex;
    align-items: baseline;
    gap: 5px;
}

.contact-us .contact-right {
    padding-left: 50px;
}

.contact-right h3 {
    margin-bottom: 50px;
}

.contact-right .form-control, .contact-right .form-select {
    border-bottom: 1px solid var(--black);
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--white);
    border-right: 1px solid var(--white);
    border-radius: 0px;
    padding: 0px 0px 35px;
    margin-bottom: 45px;
}

/* End Contact Us */

/* Start The Campus Experience */

.image-section {
    padding: 50px 0px;
    background-color: var(--bg2);
}

.image-section .card {
    background-color: transparent;
    border: 1px solid transparent;
}

/* End The Campus Experience */

/* Start International Exchange */

.gallery {
    padding: 50px 0px;
    background-color: var(--bg2);
}

.gallery .card {
    border: 1px solid transparent;
}

.gallery .card-body {
    padding: 20px 40px;
}

/* End International Exchange */

/* Start Footer */

footer {
    background-color: var(--bg3);
    padding: 50px 0px;
}

.footer-logo {
    width: 150px;
}

footer h5 {
    color: var(--black);
    margin-bottom: 25px;
}

footer .nav-item {
    padding-bottom: 10px;
}

footer .nav-item .nav-link {
    color: var(--black);
    padding: 0px;
}

footer .nav-item .nav-link:hover {
    color: var(--green);
}

footer .newsletter {
    color: var(--green);
}

footer .form-control {
    border: 1px solid var(--green);
    background-color: transparent;
    color: var(--white);
    border-radius: 15px;
}

footer .form-control:focus {
    color: var(--white);
    background-color: transparent;
    border-color: var(--green);
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(13, 110, 253, .25);
}

footer .form-control::placeholder {
    color: var(--white);
}

footer .btn-submit {
    width: 100%;
    background-color: var(--green);
    border: 1px solid var(--green);
    border-radius: 15px;
    margin-top: 10px;
}

.cpr-row {
    margin-top: 50px;
}

.cpr-row p {
    text-align: center;
    color: var(--black);
    margin-bottom: 10px;
}

.cpr-row ul {
    justify-content: center;
    display: flex;
}

.cpr-row ul li {
    list-style: disc;
    margin: 0px 20px;
    color: var(--black);
}

.cpr-row ul li:first-child {
    list-style: none;
}

/* End Footer */

